body {
    padding: 0px;
    margin: 0px;
    border:0px;
    width: 100vw;
    height: 100vh;
}

* {
    font-family: Arial;
    font-size: 13px;
}
.lg-main {
    width: 100%;
    height:100%;
    background-position-x:150px;
    background-image: url('../images/tu-vung-tieng-anh-trong-nha-hang.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    margin:0px;
}
#login-content {
    padding: 0px;
    box-shadow: 3px 5px 6px #888888;
    position: relative;
    left: 2px;
    top: 0px;
}
    #login-content .tab-content {
        padding:20px;
    }
    .tab-content label{
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tab-content input{
        font-size: 18px;
        height: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .tab-content .nav-link{
        padding: 10px;
    }
    .tab-content h2{
        font-weight: bold;
    }
    #login-content .btn-lg {
                margin:5px;
            }

@media (max-width : 800px) {
    #login_style {
        width: 90%;
    }
    
}
