.box {
    position: relative;
    left: 5%;
    top: 2em;
    opacity: 1;
    float: left;
    padding: 30px 50px 40px 50px;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 11px 2px #797777a8;
 }
 .login_page_ta{
    position: absolute;
   width: 100vw;
   height: 100vh;
   background-image: url('../images/food.jpg');
}
 div#login_style{
     width: 30%;
     margin: 3rem auto;
 }
 div#register_style{
     width:  40%;
     margin:  auto;
     height: 80%;
 }
 
 .title {
    width: 100%;
    float: left;
    line-height: 46px;
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ff706a;
    position: relative;
 }
 
 .input,
 .input input,
 .input .spin,
 .button,
 .button button {
    width: 100%;
    float: left;
 }
 
 .input,
 .button {
    margin-top: 30px;
    height: 70px;
 }
 
 .input,
 .input input,
 .button,
 .button button {
    position: relative;
 }
 .input input {
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    text-align: center;
 }

 .input input,
 .button button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 500;
    transition:all 0.3s;
 }
 .input input:focus{
   font-size: 18px;
 }
 .input:before,
 .input .spin {
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
 }
 
 input::-webkit-input-placeholder {
    opacity: 0.5;
    }

 .input:before {
    content: "";
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
 }
 
 .button.login {
    width: 60%;
    left: 20%;
 }
 
 .button.login button,
 .button button {
    width: 100%;
    line-height: 50px;
    left: 0%;
    background-color: transparent;
    border: 3px solid rgba(0, 0, 0, 0.42);
    font-weight: 900;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.45);
 }
 
 .button.login {
    margin-top: 30px;
 }
 
 .button {
    margin-top: 20px;
 }
 
 .button button {
    background-color: #fff;
    color: #ff706a;
    border: none;
 }
 
 
 .button.login button i.fa {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 60px;
    transform: scale(0) rotate(-45deg);
    -webkit-transform: scale(0) rotate(-45deg);
    -ms-transform: scale(0) rotate(-45deg);
 }
 
 .button.login button:hover {
    color: #ff706a;
    border-color: #ff706a;
 }
 
 .button {
    margin: 10px 0;
    overflow: hidden;
    z-index: 2;
 }
 
 .button button {
    cursor: pointer;
    position: relative;
    z-index: 2;
 }
 .pass-forgot:hover {
   color: #ff706a;
 }
 .pass-forgot {
    width: 100%;
    float: left;
    text-align: center;
    color: rgba(0, 0, 0, 0.45);
    font-size: 20px;
    text-decoration: underline;
    font-weight: 600;
 }
 *
 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
 }
 @media (max-width : 800px) {
    .box {
        top: 0;
    }
    div#login_style, div#register_style{
        width: 80%;
        margin: 3rem auto;
    }
}

@media (max-width : 1024px) {
    div#login_style, div#register_style{
        width: 60%;
        margin: 3rem auto;
    }
}

@media (max-width : 600px) {
    div#login_style, div#register_style{
        width: 100%;
        margin: 3rem auto;
    }
}